.destaque-emprestimos {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #EFEFEF;*/
    margin-right: 10px;
    margin-left: 210px;
    height: 470px;
    margin-top: 15px;
    /*border: red solid 2px;*/
}

.destaque-emprestimos .tipo-emprestimos {
    display: block;
    background-color: #EFEFEF;
    /*border: green solid 2px;*/
    width: 50%;
    height: 395px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.tipo-emprestimos ul {
    margin-left: 20px;
}

.destaque-emprestimos .tipo-emprestimos .h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.destaque-emprestimos p {
    text-align: justify;
    margin-top: 10px;
}

.simulacao {
    border-top: green solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 350px;
    margin-right: 10px;
    margin-left: 210px;
    margin-top: 5px;
}

.simulacao-default {
    background-color: #EFEFEF;
    display: block;
    /*border: red solid 2px;*/
    width: 50%;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;

}

.simulacao-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.simulacao-default p {
    text-align: justify;
    margin-top: 10px;
}

.container-simulacao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

/*CONFIGURAÇÃO FORMULARIO*/
.formulario button {
    cursor: pointer;
}

.form-simulacao {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border: gold solid 3px;
    border-radius: 10px;
    height: 100%;
    width: 60%;
}

.formulario {
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.formulario .btn-submit {
    border: green solid 3px;
    border-radius: 7px;
    margin-left: 26%;
    padding: 0 15px 0 15px;
    font-size: 1.5em;
}

.div-parcela {
    font-size: 2em;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.botao-parcela {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.botao-parcela button {
    font-size: 2em;
    font-weight: 700;
    padding: 10px;
    border: green solid 10px;
    background: white;
    border-radius: 15px;
    cursor: pointer;
}

.botao-efeito:hover {
    background-color: green;
    color: white;
    transition: ease 400ms ease;
    border: white solid 10px;
}

/*PERGUNTAS FREQUENTES*/
.perguntas-frequentes {
    background-color: white;
    border-top: green solid 2px;
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 210px;
    height: 495px;
    margin-top: 15px;
}

.perguntas-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

}

.perguntas-respostas {
    background-color: #EFEFEF;
    height: 400px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.perguntas-respostas p {
    text-align: justify;
    margin-top: 10px;
}

.perguntas-respostas details {
    display: block;
    width: auto;
    margin: 10px 0;
}

.perguntas-respostas details p {
    padding-left: 30px;
}

.perguntas-respostas summary {
    display: flex; 
    background: white;
    color: green;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
    font-weight: 700;
    justify-content: flex-start;
    align-items: center;
  }

  .perguntas-respostas summary::-webkit-details-marker {
    display: none;
 }
 
 .perguntas-respostas summary:before {
    content: "+";
    font-size: 20px;
    font-weight: bold;
    margin: 0 5px;
    padding: 0;
    width: 20px;
    text-align: center;
 }
 
 .perguntas-respostas details[open] summary:before {
   content: "-";
 }