
.produtos-main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-top: green solid 1px;
    
}
.produtos-main h3 {
    margin-top: 20px;
    margin-left: 10px;
    color: green;
    font-size: 2em;
}
.produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 600px; /*height: 600px; original*/
    /*border: red solid 2px;*/
}

.titulo-produtos {
    margin-top: 15px;
}

.default {
    background-color: #EFEFEF;
    display: block;
    height: 90%;
    width: 23.5%;
    margin-right: 5px;
    /*border: red solid 2px;*/
}

.produtos img {
    width: 250px;
    height: 200px;
    padding-top: 10px;
}
.img-position {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-p {
    display: flex;
    justify-content: center;
    height: 42%;
}

.produtos p {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    height: 38%;
    width: 260px;
    margin-left: 3px;
    padding-top: 10px;
}

.produtos .button {
    text-align: center;
    display: flex;
    justify-content: right;
    margin-right: 5px;
}

.produtos .efeito {
    border: none;
    background-color: green;
    margin-top: 10px;
    margin-right: 5px;
    padding: 8px;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
}

.produtos a {
    text-decoration: none;
    color: white;
}

.efeito:hover {
    background-color: white;
    border: green solid 2px;
    transition: ease 400ms ease;
}

.efeito:hover a {
    color: green;
}