.div-sejacliente {
    border-top: green solid 2px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-right: 10px;
    margin-left: 210px;
    height: 600px;
    margin-top: 15px;
    /*border: red solid 2px;*/
}

.sejacliente-titulo {
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 80px;
    margin-top: 15px;
}

.div-formulario {
    display: flex;
    justify-content: center;
    background-color: #EFEFEF;
    height: 380px;
    margin-left: 10px;
    margin-right: 10px;
}

.formulario {
    background-color: #EFEFEF;
    border: green solid 2px;
    height: 300px;
    width: 280px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 30px;
    border-radius: 30px;
}

.btn-submit {
    border: green solid 3px;
    border-radius: 7px;
    margin-left: 15%;
    font-size: 1.5em;
    padding: 5px;
    cursor: pointer;
}

