.div-sejacliente {
    border-top: green solid 2px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-right: 10px;
    margin-left: 210px;
    height: 600px;
    margin-top: 15px;
    padding-right: 10px;
    /*border: red solid 2px;*/
}

.sejacliente-titulo {
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 10px;
}

.div-formulario {
    display: flex;
    justify-content: center;
    background-color: #EFEFEF;
    height: 380px;
    margin-left: 10px;
}

form {
    background-color: #EFEFEF;
    border: green solid 2px;
    height: 280px;
    width: 300px;
    border-radius: 30px;
    margin: 0 auto;
    padding-top: 15px;
    margin-bottom: 10px;
}

.btn-submit {
    border: green solid 3px;
    border-radius: 7px;
    font-size: 1.5em;
    padding: 5px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 20%;
}

form div {
    margin: 10px;
}

form input, select{
    height: 20px;
    width: 100%;
}

form button {
    margin: 0 auto;
}

